.main-game {
    /* display: flex; */
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    /* height: 100%; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* padding: 30px 0; */
    /* transform: translateX(100%); */
    /* border: 1px solid var(--blue); */
    /* transition: transform 0.3s ease-in-out; */
}

.main-game .active {
    transform: translateX(0);
}
